.pagination {
    display: flex;
    align-items: center;
}

.page-number {
    display: flex;
}

select {
    margin-right: 5px;
}

.pagination button {
    margin-right: 5px;
}

.current-page-number button {
    background-color: var(--primary-default);
}