.table-header {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 20px;
}

.column-item-wrapper .column-item {
    display: block;
    padding: 5px;
    background: var(--primary-default);
    margin-bottom: 5px;
    border-radius: 10px;
    color: #fff;
}

.column-item-wrapper .column-item .column-title {
    font-weight: bold;
}

.table-wrapper table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: block;
    overflow-x: scroll;
    font-size: 14px;
}

.table-wrapper thead tr:first-child {
    display: none;
}

.table-wrapper thead th {
    background-color: var(--primary-dark);
    color: #fff;
    cursor: pointer;
    min-height: 40px;
}

.table-wrapper th, td {
    text-align: left;
    padding: 8px;
    border-right: 1px solid var(--secondary-light);
}

.table-wrapper tr:nth-child(even) {
    background-color: var(--primary-light);
}