body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --primary-dark: #024457;
  --primary-light: rgba(23, 125, 146, 0.08);
  --primary-default: #167F92;
  --secondary-dark: #dcdcdc;
  --secondary-light: rgba(245, 245, 245, 0.7);
  --secondary-default: #f7f7f7;
}

.list-style-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  color: var(--primary-dark);
}